.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 626px;
}

.profile__greetings {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  text-rendering: optimizeLegibility;
  text-decoration: none;
  letter-spacing: 0;
  max-width: 600px;
  margin: 78px 0 0 0;
  padding: 0;
  color: #000;
}

.profile__contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  width: 410px;
  margin: 111px 0 0 0;
  padding: 0;
}

.profile__contacts-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 17px 0 17px;
  border-bottom: 1px solid #e8e8e8;
}

.profile__contacts-item:last-of-type {
  border-bottom: none;
}

.profile__contacts-item-name {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 11px;
  text-rendering: optimizeLegibility;
  text-decoration: none;
  letter-spacing: 0;
  margin: 0;
  padding: 0;
  color: #000;
}

.profile__contacts-user-name {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 11px;
  text-rendering: optimizeLegibility;
  text-decoration: none;
  letter-spacing: 0;
  margin: 0;
  padding: 0;
  color: #000;
}

.profile__btns {
  display: flex;
  flex-direction: column;
  margin: 207px 0 0 0;
  padding: 0;
}

.profile__btn-edit {
  background-color: transparent;
  border: none;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 13px;
  text-rendering: optimizeLegibility;
  text-decoration: none;
  letter-spacing: 0;
  margin: 0;
  padding: 0;
  color: #000;
}

.profile__btn-logout {
  background-color: transparent;
  border: none;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 13px;
  text-rendering: optimizeLegibility;
  text-decoration: none;
  letter-spacing: 0;
  margin: 19px 0 0 0;
  padding: 0;
  color: #ee3465;
}

@media screen and (max-width: 838px) {
  .profile {
    height: 950px;
  }

  .profile__greetings {
    margin: 239px 0 0 0;
  }

  .profile__contacts {
    margin: 80px 0 0 0;
  }

  .profile__contacts-item {
    padding: 19px 0 19px;
  }

  .profile__btns {
    margin: 194px 0 0 0;
  }
}

@media screen and (max-width: 500px) {
  .profile__contacts {
    width: calc((260 / 320) * 100%);
  }
}

@media screen and (max-width: 420px) {
  .profile {
    height: 706px;
  }

  .profile__greetings {
    margin: 73px 0 0 0;
  }

  .profile__contacts {
    margin: 64px 0 0 0;
  }

  .profile__btns {
    margin: 361px 0 0 0;
  }

  .profile__btn-edit {
    letter-spacing: -0.5px;
  }
  
  .profile__btn-logout {
    letter-spacing: -0.5px;
  }
}
