.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 626px;
}

.profile__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 410px;
}

.profile__greetings {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  text-rendering: optimizeLegibility;
  text-decoration: none;
  letter-spacing: 0;
  max-width: 600px;
  margin: 78px 0 0 0;
  padding: 0;
  color: #000;
}

.profile__form {
  width: 100%;
  margin: 108px 0 0 0;
  padding: 0;
}

.profile__form-fieldset {
  width: 100%;
  border: none;
  margin: 0;
  padding: 0;
}

.profile__input-list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

.profile__input-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  border-bottom: 1px solid #e8e8e8;
  margin: 0;
  padding: 16px 0;
}

.profile__input-item:last-of-type {
  border-bottom: none;
}

.profile__input-label {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 11px;
  text-rendering: optimizeLegibility;
  text-decoration: none;
  letter-spacing: 0;
  margin: 0;
  padding: 0;
  color: #000;
}

.profile__input {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 11px;
  text-rendering: optimizeLegibility;
  text-decoration: none;
  text-align: right;
  letter-spacing: 0;
  margin: 0;
  padding: 0;
  color: #000;
  background-color: #fafafa;
  width: 80%;
  border: none;
}

.profile__input_error {
  color: #ee3465;
}

.profile__input:focus {
  outline: none;
}

.profile__error {
  position: absolute;
  top: 35px;
  right: 0;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  text-rendering: optimizeLegibility;
  text-decoration: none;
  text-align: right;
  letter-spacing: 0;
  margin: 0;
  padding: 0;
  color: #ee3465;
}

.profile__btns {
  display: flex;
  flex-direction: column;
  margin: 207px 0 0 0;
  padding: 0;
}

.profile__btn-edit {
  background-color: transparent;
  border: none;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 13px;
  text-rendering: optimizeLegibility;
  text-decoration: none;
  letter-spacing: 0;
  margin: 0;
  padding: 0;
  color: #000;
}

.profile__btn-edit_disabled {
  color: #bababa;
}

.profile__btn-logout {
  background-color: transparent;
  border: none;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 13px;
  text-rendering: optimizeLegibility;
  text-decoration: none;
  letter-spacing: 0;
  margin: 19px 0 0 0;
  padding: 0;
  color: #ee3465;
}

@media screen and (max-width: 838px) {
  .profile {
    height: 950px;
  }

  .profile__greetings {
    margin: 240px 0 0 0;
  }

  .profile__form {
    margin: 83px 0 0 0;
  }

  .profile__btns {
    margin: 194px 0 0 0;
  }
}

@media screen and (max-width: 500px) {
  .profile__container {
    width: calc((260 / 320) * 100%);
  }
}

@media screen and (max-width: 420px) {
  .profile {
    height: 706px;
  }

  .profile__greetings {
    margin: 73px 0 0 0;
  }

  .profile__form {
    margin: 67px 0 0 0;
  }

  .profile__btns {
    margin: 361px 0 0 0;
  }

  .profile__btn-edit {
    letter-spacing: -0.5px;
  }

  .profile__btn-logout {
    letter-spacing: -0.5px;
  }
}
