.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fafafa;
  height: 608px;
  width: 100%;
}

.about__description {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 26px;
  column-gap: 40px;
  justify-items: start;
  width: calc((1140 / 1280) * 100%);
  margin: 72px 0 0;
}

.about__stages-title {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-rendering: optimizeLegibility;
  text-decoration: none;
  color: #000;
  letter-spacing: -0.8px;
  margin: 0;
  padding: 0;
}

.about__weeks-title {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-rendering: optimizeLegibility;
  text-decoration: none;
  color: #000;
  letter-spacing: -0.8px;
  margin: 0;
  padding: 0;
}

.about__stages-text {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-rendering: optimizeLegibility;
  text-decoration: none;
  color: #000;
  margin: 0;
  padding: 0;
}

.about__weeks-text {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-rendering: optimizeLegibility;
  text-decoration: none;
  color: #000;
  margin: 0;
  padding: 0;
}

.about__timeline {
  display: grid;
  grid-template-columns: 20% auto;
  grid-auto-rows: 36px;
  justify-items: center;
  align-items: center;
  width: calc((1140 / 1280) * 100%);
  margin: 112px 0 0;
}

.about__timeline-item {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-size: 14px;
  margin: 0;
}

.about__backend-weeks {
  font-weight: 400;
  line-height: 14px;
  text-rendering: optimizeLegibility;
  text-decoration: none;
  text-align: center;
  color: #fff;
  background-color: #3456f3;
  width: 100%;
  padding: 11px 0;
}

.about__frontend-weeks {
  font-weight: 400;
  line-height: 14px;
  text-rendering: optimizeLegibility;
  text-decoration: none;
  text-align: center;
  color: #000;
  background-color: #f2f2f2;
  width: 100%;
  padding: 11px 0;
}

.about__backend {
  font-weight: 500;
  line-height: 17px;
  text-rendering: optimizeLegibility;
  text-decoration: none;
  color: #a0a0a0;
  padding: 0;
  margin: 8px 0 0;
}

.about__frontend {
  font-weight: 500;
  line-height: 17px;
  text-rendering: optimizeLegibility;
  text-decoration: none;
  color: #a0a0a0;
  padding: 0;
  margin: 8px 0 0;
}

@media screen and (max-width: 1090px) {
  .about__description {
    column-gap: 50px;
  }
}

@media screen and (max-width: 838px) {
  .about {
    height: 585px;
  }

  .about__description {
    column-gap: 30px;
    row-gap: 20px;
    width: calc((668 / 768) * 100%);
  }

  .about__stages-title {
    line-height: 23px;
  }

  .about__weeks-title {
    line-height: 23px;
  }

  .about__stages-text {
    font-size: 12px;
    line-height: 19px;
  }

  .about__weeks-text {
    font-size: 12px;
    line-height: 19px;
  }

  .about__timeline {
    width: calc((668 / 768) * 100%);
    margin: 92px 0 0;
  }
}

@media screen and (max-width: 420px) {
  .about {
    height: 641px;
  }

  .about__description {
    margin: 60px 0 0;
    grid-template-columns: 1fr;
    row-gap: 13px;
    width: calc((292 / 320) * 100%);
  }

  .about__stages-title {
    font-size: 18px;
  }

  .about__weeks-title {
    grid-column: 1;
    grid-row: 3;
    font-size: 18px;
    margin-top: 40px;
  }

  .about__stages-text {
    grid-column: 1;
    grid-row: 2;
    font-size: 11px;
    line-height: 17px;
  }

  .about__weeks-text {
    font-size: 11px;
    line-height: 17px;
  }

  .about__timeline {
    grid-template-columns: 35% auto;
    grid-auto-rows: 32px;
    width: calc((292 / 320) * 100%);
    margin: 60px 0 0;
  }

  .about__timeline-item {
    font-size: 11px;
    font-weight: 400;
    line-height: 11px;
    padding: 13px 0;
    margin: 0;
  }
}
